<div class="container">
    <div class="row">
        <div class="col-md-8 col-centered">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form>
                        <textarea placeholder="Say something nice..." ></textarea>                
                        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>Post</button>
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>
    </div>
</div>