<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to ScratchHub</h1>
        <p>Share your awesome Scratch projects with other CS50xMiami students and the world!</p>
        <p><a class="btn btn-primary btn-lg register-btn" href="/index/register" role="button">Register &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row gutter-20">
        <div class="col-md-4">
          <h2>Showcase</h2>
          <p>In ScratchHub you can show-off all your projects. Share those mad skillz to other CS50xMiami students!</p>
        </div>
        <div class="col-md-4">
          <h2>Comment</h2>
          <p>Comment on other's projects and let them know how awesome their it is and any idea you may have that could improve it.</p>
       </div>
        <div class="col-md-4">
          <h2>Rate</h2>
          <p>Coming soon!</p>
        </div>
      </div>