<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to ScratchHub</h1>
        <p>Share your awesome Scratch projects with other CS50xMiami students and the world!</p>
        <p><a class="btn btn-primary btn-lg" href="/index/register" role="button">Register &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Share</h2>
          <p>In ScratchHub you can showcase all your projects. Show off those mad skillz to other CS50xMiami students!</p>
        </div>
        <div class="col-md-4">
          <h2>Comment</h2>
          <p>Look at other's projects, and let them know how awesome their project is and any idea you have that could improve it.</p>
       </div>
        <div class="col-md-4">
          <h2>Rate</h2>
          <p>All projects in ScratchHub can be rated. Register and start giving those stars away!</p>
        </div>
      </div>