<div class="container">
    <div class="row">    
        <div class="col-md-10 col-md-offset-1">
            {{#each projects}}
                <div class="card">
                    <div class="card-content">
                        <p class="card-title"><a href="/project/{{ this.name }}">{{ this.name }}<a></p>
                        <span class="card-title date">May 5, 2017</span>                    
                    </div><!-- card content -->
                    <br>
                </div>
            {{/each}}
        </div>
    </div>
</div>