{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="form-style-5">
    <form method="post" action="/project/new-project">
        <fieldset>
            <legend><span class="number">1</span> Project Info</legend> 
            <input name="name" placeholder="Name *" type="text" required>
            <textarea name="description" placeholder="Description"></textarea> 
            <label for="job">Category:</label> <select id="job" name="category">
                <option value="Animation">
                    Animation
                </option>
                <option value="Art">
                    Art
                </option>
                <option value="Games">
                    Game
                </option>
                <option value="Music">
                    Music
                </option>
                <option value="Stories">
                    Story
                </option>
                <option value="Tutorial">
                    Tutorial
                </option>
                <option value="Other">
                    Other
                </option>
            </select>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Embed Your Project</legend> 
            <textarea name="iframe" placeholder="iframe code"></textarea>
        </fieldset>
        <input type="submit" value="Publish">
    </form>
</div>