{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="form-style-5">
    <form method="post" action="/project/new-project" enctype="multipart/form-data" novalidate>
        <fieldset>
            <legend><span class="number">1</span> Project Info</legend> 
            <input type="text" class="form-control" name="name" placeholder="Name *" required>
            <textarea type="text" class="form-control" name="description" placeholder="Description"></textarea> 
            <label for="job">Category:</label> <select id="job" name="category">
                <option value="Animation">
                    Animation
                </option>
                <option value="Art">
                    Art
                </option>
                <option value="Games">
                    Game
                </option>
                <option value="Music">
                    Music
                </option>
                <option value="Stories">
                    Story
                </option>
                <option value="Tutorial">
                    Tutorial
                </option>
                <option value="Other">
                    Other
                </option>
            </select>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Embed Your Project</legend> 
            <textarea type="text" class="form-control" name="iframe" placeholder="iframe code"></textarea>
        </fieldset>
        <fieldset>
            <legend><span class="number">3</span> Upload Project Thumbnail</legend><p>Suggested dimensions: 650 x 350 pixels</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar"></div>
            </div><button class="btn btn-lg upload-btn" type="button">Upload Image</button>
            <input id="upload-input" type="file" name="projectImage" class="form-control" required></br>
        </fieldset>
        <input type="submit" value="Publish Project">
    </form>
</div>